<p style="color: green"><%= notice %></p>

<h1 class='title-foods'>Foods List </h1>

<div class='button-new-food'>
  <%= link_to "New food", new_food_path %>
</div>

<div id="foods_table">
  <table class='table-foods'>
    <tr>
      <th><%= link_to "Name", :sort => "name" %></th>
      <br>
      <td><strong>Measurement Unit</strong></td>
      <br>
      <td><strong>Price</strong></td>
      <br>
      <br>
      <td><strong>Actions</strong>
      <br>
    </tr>  
    
  <% @foods.each do |food| %>
     <%= render food %>
  <% end %>
  </table>  
</div>
