:root {
  --blue: #3E54AC;
  --dark: #332C39;
  --white: #F0EEED;
  --red: #C92C6D;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

body {
  background-color: var(--white);
  font-size: 1.4rem;
  color: var(--dark);
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  margin: 0 auto;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

/* header */
header {
  width: 100%;
  color: var(--white);
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 15px;
  background-color: var(--dark);
}

.nav-list {
  padding-left: 50px;
  padding-right: 50px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
}

.sign-out {
  background-color: var(--blue);
  padding: 5px;
  border-radius: 8%;
  margin-left: 35em;
}

/* container */

.container {
  border: 2px solid var(--dark);
  width: 90%;
  min-height: 90vh;
  margin: 0 auto;
  margin-top: 1%;
}

.title {
  color: var(--blue);
  text-align: center;
  margin-top: 1%;
}

.btn {
  background-color: var(--blue);
  color: var(--white);
  padding: 2px 5px;
}

.add-food-btn {
  position: absolute;
  left: 47%;
  margin-top: 2em;
}

.form {
  max-width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input {
  width: 20em;
  height: 2em;
}

.add-btn-form input {
  color: var(--white);
  background-color: var(--dark);
  outline: none;
  border: none;
}

.table-foods {
  border: 3px solid var(--dark);
  text-align: center;
  margin: auto;
}

tr {
  border: 1px solid var(--dark);
  margin-left: 150px;
}

td {
  border: 1px solid var(--blue);
  width: 200px;
  height: 60px;
}

.title-foods {
  margin-left: 10%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-recipe-details {
  border: 2px solid black;
  width: 90%;
  text-align: center;
  margin-top: 5%;
}

.links-recipe-details {
  margin-top: 5%;
  padding-right: 5%;
  font-size: 20px;
}

.main-public {
  display: flex;
  flex-direction: column;
}

.public_recipe-name-user {
  display: flex;
  flex-direction: row;
}

.public_recipe-total-price {
  display: flex;
  flex-direction: row;
}

.title-public {
  margin-left: 18%;
}

.name-public {
  margin-right: 20%;
  margin-left: 20%;
}

.Byuser-public {
  margin-right: 20%;
  margin-left: 20%;
}

.title-shopping {
  margin-left: 40%;
}

.container-amount-total {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-top: 5%;
}

.amount-shopping {
  margin-right: 65px;
  margin-left: 20%;
}

.table-shopping {
  margin-left: 25%;
  margin-top: 5%;
  text-align: center;
  border: 2px solid black;
}
